<% layout("/layouts/boilerplate") %>


<div class="row">
<div style="text-align: center;" class="alert alert-danger col-6 offset-3 mt-5" role="alert">
  <h4 >ERROR!<br><%= message %></h4>
</div>
</div>